[submodule "apps/yral-mobile"]
	path = apps/yral-mobile
	url = https://github.com/dolr-ai/yral-mobile.git
[submodule "apps/yral-backend-canister"]
	path = apps/yral-backend-canister
	url = https://github.com/dolr-ai/yral-backend-canister.git
[submodule "apps/yral-common"]
	path = apps/yral-common
	url = https://github.com/dolr-ai/yral-common.git
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/dolr-ai/website.git
[submodule "apps/yral-billing"]
	path = apps/yral-billing
	url = https://github.com/dolr-ai/yral-billing.git
[submodule "apps/yral"]
	path = apps/yral
	url = https://github.com/dolr-ai/yral.git
