[submodule "apps/yral-mobile"]
	path = apps/yral-mobile
	url = https://github.com/dolr-ai/yral-mobile.git
[submodule "apps/yral-backend-canister"]
	path = apps/yral-backend-canister
	url = https://github.com/dolr-ai/yral-backend-canister.git
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/dolr-ai/website.git
[submodule "apps/yral"]
	path = apps/yral
	url = https://github.com/dolr-ai/yral.git
[submodule "apps/my-website"]
	path = apps/my-website
	url = https://github.com/saikatdas0790/my-website.git
