# Ansible
*.retry
.vault_pass
ansible/.vault_pass
ansible/group_vars/all/.vault_pass

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
/tmp/
