name: Ansible Deploy

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Python
              uses: actions/setup-python@v6

            - name: Install Ansible
              run: |
                  python -m pip install --upgrade pip
                  pip install ansible

            - name: Configure SSH
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.HETZNER_BARE_METAL_GITHUB_ACTIONS_SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
                  chmod 600 ~/.ssh/id_ed25519
                  echo "Host *" > ~/.ssh/config
                  echo "  StrictHostKeyChecking no" >> ~/.ssh/config
                  echo "  UserKnownHostsFile /dev/null" >> ~/.ssh/config
                  chmod 600 ~/.ssh/config

            - name: Run Ansible playbook
              run: |
                  ansible-playbook ansible/playbooks/cluster-setup.yml -i ansible/inventory.yml
